/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $green;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}


/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0.8) !important;
}


/* custom styles */
.bm-item-list{
  @include flex-center(column);
  align-items: inherit;
  color:$green;
  h3, p{
    text-align:center;
    color:$dark-green;
  }
  a{
    color:$dark-green;
  }
}

.bm-burger-button{
  position: fixed;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #9fe5cd;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.navigation-links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
}

.auth-links{
  text-align:center;
}

.navigation-links{
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.auth-links{
  height: 100%;
  div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
  }
}

.back-nav {
  position: fixed;
  background-color: $light-green;
  border: 0;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  svg{
    width: 20px;
    path{
      fill:white;
    }
  }
}