.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.challenge-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

button, .button {
  background-color: #9fe5cd;
  border: none;
  padding: 10px 20px;
  height: 40px;
  min-width: 100px;
  color: #154B6B;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47; }

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #1D90BC; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7; }

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%; }

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em; }

/* Individual item */
.bm-item {
  display: inline-block; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0.8) !important; }

/* custom styles */
.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-items: inherit;
  color: #1D90BC; }
  .bm-item-list h3, .bm-item-list p {
    text-align: center;
    color: #154B6B; }
  .bm-item-list a {
    color: #154B6B; }

.bm-burger-button {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #9fe5cd;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center; }

.navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%; }

.auth-links {
  text-align: center; }

.navigation-links {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }

.auth-links {
  height: 100%; }
  .auth-links div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%; }

.back-nav {
  position: fixed;
  background-color: #9fe5cd;
  border: 0;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center; }
  .back-nav svg {
    width: 20px; }
    .back-nav svg path {
      fill: white; }

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.challenges-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.challenge-item {
  width: 90%;
  margin: 10px 0;
  color: white; }
  .challenge-item .challenge-content {
    background-color: #648ADF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px; }
    .challenge-item .challenge-content .challenge-tag {
      background-color: white;
      display: inline;
      color: black;
      padding: 7px;
      border-radius: 5px; }
  .challenge-item a {
    color: white; }
    .challenge-item a h3 {
      text-transform: uppercase; }
  .challenge-item .challenge-footer {
    background-color: #eef0f4;
    color: #262729;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px; }
    .challenge-item .challenge-footer .info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .challenge-item .challenge-footer .info div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; }
      .challenge-item .challenge-footer .info img {
        height: 30px; }

.challenge-admin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  .challenge-admin svg {
    box-sizing: content-box;
    width: 35px;
    height: 35px;
    padding-left: 10px; }
    .challenge-admin svg path {
      fill: white; }

.create-challenge-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #eef0f4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; }
  .create-challenge-box .add-icon {
    width: 50px;
    margin: 10px; }

.challenge-info {
  background-color: #1d90bc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .challenge-info div {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding: 20px;
    color: white; }
    .challenge-info div h3 {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 2px; }

button, .button {
  background-color: #9fe5cd;
  border: none;
  padding: 10px 20px;
  height: 40px;
  min-width: 100px;
  color: #154B6B;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px; }

h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #1D90BC;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center; }

h2 {
  margin-left: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 1px;
  color: #648ADF; }
