.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.challenge-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

button, .button {
  background-color: #9fe5cd;
  border: none;
  padding: 10px 20px;
  height: 40px;
  min-width: 100px;
  color: #154B6B;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center; }

.white-btn {
  background-color: white;
  color: #648ADF;
  max-width: 150px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47; }

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #1D90BC; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7; }

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%; }

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em; }

/* Individual item */
.bm-item {
  display: inline-block; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0.8) !important; }

/* custom styles */
.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-items: inherit;
  color: #1D90BC; }
  .bm-item-list h3, .bm-item-list p {
    text-align: center;
    color: #154B6B; }
  .bm-item-list a {
    color: #154B6B; }

.bm-burger-button {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #9fe5cd;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center; }

.navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%; }

.auth-links {
  text-align: center; }

.navigation-links {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }

.auth-links {
  height: 100%; }
  .auth-links div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%; }

.back-nav {
  position: fixed;
  background-color: #9fe5cd;
  border: 0;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center; }
  .back-nav svg {
    width: 20px; }
    .back-nav svg path {
      fill: white; }

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

form {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  font-size: 1.1em; }
  form span {
    color: #154B6B; }
  form label, form div label {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #262729;
    font-weight: 100;
    text-align: center;
    margin: 5% 0;
    display: block; }

input[type="file"] {
  font-size: 0.7em;
  background: white;
  margin: 6%;
  color: #154B6B;
  padding: 3%; }

input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
  text-align: center;
  background: none;
  border: 0;
  border-bottom: 2px solid #648ADF;
  height: 40px;
  padding: 20px;
  width: 60%;
  margin-bottom: 30px;
  -webkit-transition: all 1s;
  /* Safari prior 6.1 */
  transition: all 1s;
  font-size: 0.8em;
  color: #154B6B; }

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="url"]:focus {
  outline: none;
  width: 80%;
  border-bottom: 2px solid #154B6B;
  -webkit-transition: all 0.5s;
  /* Safari prior 6.1 */
  transition: all 0.5s; }

input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled {
  background-color: #94cbcf;
  color: cadetblue; }

select, input[type="date"] {
  text-align: center;
  background: none;
  border: 0;
  border-bottom: 2px solid #648ADF;
  height: 40px;
  padding: 5px;
  margin-bottom: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #154B6B;
  font-size: 0.8em;
  margin: 5px; }

select:focus, input[type="date"]:focus {
  outline: none;
  border-bottom: 2px solid #154B6B;
  -webkit-transition: all 0.5s;
  /* Safari prior 6.1 */
  transition: all 0.5s; }

input {
  padding: 12px; }

.challenge-form button {
  margin-top: 20px; }

form button:disabled {
  background-color: #c0d3cc;
  color: #7a8389; }

select, select:focus {
  width: 60%; }

input[type="date"], input[type="date"]:focus {
  width: 45%; }

.challenges-list {
  width: 100%; }
  .challenges-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }

.challenge-item {
  width: 90%;
  margin: 10px 0;
  color: white; }
  .challenge-item .challenge-content {
    background-color: #648ADF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px; }
  .challenge-item a {
    color: white; }
    .challenge-item a h3 {
      text-transform: uppercase;
      margin: 25px 0; }
  .challenge-item p {
    margin: 10px 0; }
  .challenge-item .challenge-footer {
    background-color: #eef0f4;
    color: #262729;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px; }
    .challenge-item .challenge-footer .info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .challenge-item .challenge-footer .info div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; }
      .challenge-item .challenge-footer .info img {
        height: 30px; }

.challenge-tag {
  background-color: white;
  display: inline;
  color: black;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
  max-width: 75px;
  text-align: center; }

.challenge-admin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  .challenge-admin svg {
    box-sizing: content-box;
    width: 35px;
    height: 35px;
    padding-left: 10px; }
    .challenge-admin svg path {
      fill: white; }

.challenge-manager svg path {
  fill: #1D90BC; }

.create-challenge-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #eef0f4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px; }
  .create-challenge-box .add-icon {
    width: 50px;
    margin: 10px; }

.challenge-info {
  background-color: #1d90bc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .challenge-info div {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding: 20px;
    color: white; }
    .challenge-info div h3 {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 2px; }

.my-art article header h2 {
  text-align: center; }

.my-art article main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .my-art article main .my-art-container {
    width: 90%;
    margin-bottom: 25px; }
    .my-art article main .my-art-container img {
      border-radius: 10px; }

.upload-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .upload-container .image-preview {
    width: 90%;
    border-radius: 10px;
    margin: 30px auto; }

.big-button {
  padding: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  box-sizing: content-box;
  margin: 20px auto; }

.voting-section {
  padding: 50px;
  text-align: center;
  font-size: 24px;
  color: darkgray;
  border-bottom: 1px solid grey;
  background-color: #32373e; }
  .voting-section .message {
    font-size: 16px;
    color: #FC9566;
    padding-top: 22px; }

.like-button {
  width: 40px;
  position: absolute;
  right: 20px;
  margin-top: 20px; }

.errors {
  text-align: center;
  background-color: #FC9566;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 10px 0; }

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.manager-table {
  padding: 15px; }
  .manager-table tr td {
    padding: 10px;
    border-bottom: 1px solid #ddd; }
    .manager-table tr td h3 {
      color: #1d90bc;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 16px; }
    .manager-table tr td p {
      font-size: 14px;
      color: grey; }
    .manager-table tr td .challenge-manager .remove svg path {
      fill: #FC9566; }

.wellcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/challenge_bg08.png);
  background-size: cover; }
  .wellcome p {
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px; }
  .wellcome svg {
    width: 60%;
    margin: 50px 0; }
    .wellcome svg path {
      fill: white; }
  .wellcome .for-anon {
    display: flex;
    flex-direction: column; }
    .wellcome .for-anon div {
      text-align: center;
      margin: 20px 0; }
      .wellcome .for-anon div a {
        margin-top: 20px; }

.auth-page {
  background-image: url(/images/auth-bg.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .auth-page form {
    height: 70vh; }
    .auth-page form p {
      margin-top: 15px;
      color: grey; }
      .auth-page form p a {
        color: #648ADF; }
    .auth-page form .errors p {
      color: white;
      margin: 0; }

.profile {
  color: #154B6B;
  padding: 20px; }
  .profile h3 {
    line-height: 40px; }

.admin {
  text-align: center; }

.challenges-dashboard section h2 {
  margin-left: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  color: #648ADF;
  margin-top: 35px;
  margin-bottom: 0; }

.challenges-dashboard section article header {
  padding: 20px; }

.challenges-dashboard section article main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .challenges-dashboard section article main img {
    border-radius: 10px;
    width: 90%; }

.liked path {
  fill: black; }

button, .button {
  background-color: #9fe5cd;
  border: none;
  padding: 10px 20px;
  height: 40px;
  min-width: 100px;
  color: #154B6B;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px; }

h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #1D90BC;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center; }

h2 {
  margin-left: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 1px;
  color: #648ADF; }
