/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, ul, li, p {
  padding:0;
  margin:0;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* SASSSSSSSS */

/*
$grey: #262729;
$light-green: #9fe5cd;
$green:#1D90BC;
$dark-green:#154B6B;
$blue:#648ADF;
$red:#FC9566;
$yellow:#F9C942;
$dark-blue:#27285D;
$light-grey:#eef0f4;
*/

/* layout */
nav{
  display:none;
}

.flex-column{
  /*@include flex-center(column);*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*components */

button, .button {
  background-color:#9fe5cd; 
  border: none;
  padding: 10px 20px;
  height: 40px;
  min-width: 100px;
  color: #154B6B;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}


/* pages */

.challenges-list ul{
  /*@include flex-center(column);*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.challenge-item {
  width: 90%;
  margin: 10px 0;
  color: white;
}

.challenge-item .challenge-content{
  background-color: #648ADF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}


.challenge-item a{
  color:white;
}

.challenge-item .challenge-content a h3{
  text-transform: uppercase;
}

.challenge-item .challenge-footer{
  background-color: #eef0f4;
  color: #262729;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.challenge-item .challenge-footer .info img{
  height: 30px;
}

.challenge-item .challenge-footer .info{
  /*@include flex-center(column);*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.challenge-item .challenge-footer .info div{
  /*@include flex-center(column);*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.challenge-admin{
  border-top: 1px solid grey;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}