/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, ul, li, p {
  padding:0;
  margin:0;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

input:focus, button:focus, a:focus{
  outline: none;
}