@import './helpers/mixins';
@import './helpers/variables';
@import './layout/structure';
@import './components/buttons';
@import './components/burgerMenu';
@import './components/form';
@import './pages/pages';

button, .button {
  background-color: $light-green;
  border: none;
  padding: 10px 20px;
  height: 40px;
  min-width: 100px;
  color: $dark-green;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// .bm-menu-wrap + div{
//   display: flex;
//   justify-content: flex-end;
// }


