@import './helpers/mixins';
@import './helpers/variables';
@import './layout/structure';
@import './components/buttons';
/*
$grey: rgb(38, 39, 41);
$light-green: #9fe5cd;
$green:#1D90BC;
$dark-green:#154B6B;
$blue:#648ADF;
$red:#FC9566;
$yellow:#F9C942;
$dark-blue:#27285D;
$light-grey:#dfe3ee;
*/
nav{
  display:none;
}

button, .button {
  background-color: $light-green;
  border: none;
  padding: 10px 20px;
  height: 40px;
  min-width: 100px;
  color: $dark-green;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}



